<div class="snapshots">
    {% for snapshot in snapshots %}
        <a href="{{ root }}/image.php?file={{ snapshot }}"><img src="{{ root }}/image.php?file={{ snapshot }}" alt="{{ snapshot }}"></a>
    {% endfor %}
</div>