<div class="snapshots">
    {% for snapshot in snapshots %}
        <a href="{{ root }}/image.php?file={{ snapshot|url_encode }}"><img src="{{ root }}/image.php?file={{ snapshot|url_encode }}" alt="{{ snapshot }}" /></a>
    {% endfor %}
</div>